body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centrado vertical y horizontal */
    height: 100vh;
    margin: 0;
    background-color: #000; /* Fondo negro */
    color: #00f; /* Texto azul */
    padding: 0;
    box-sizing: border-box;
}

#loader {
    display: none; /* Ocultar el indicador de carga inicialmente */
    font-size: 2rem;
    color: #fff;
    position: absolute;
    top: 10px;  /* Posicionarlo a 10px desde la parte superior */
    right: 10px;  /* Posicionarlo a 10px desde la parte derecha */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para que sea legible */
    padding: 5px 10px;
    border-radius: 5px; /* Bordes redondeados */
}

#catImage {
    max-width: 90%; /* Limita el tamaño de la imagen al 90% del ancho */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px;
    border: 10px solid #4b0082; /* Marco morado alrededor de la imagen */
    padding: 5px;
    margin-top: 20px;
}

button {
    background-color: #4b0082; /* Morado oscuro */
    color: white;
    border: none;
    padding: 15px 0;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px; /* Bordes redondeados */
    margin-top: 20px;
    width: 80%; /* El botón ocupa el 80% del ancho */
    text-align: center;
    max-width: 400px; /* Limitar el ancho del botón */
}

button:hover {
    background-color: #6a0dad; /* Morado más oscuro en hover */
}

@media (max-width: 600px) {
    button {
        width: 95%; /* El botón ocupa el 95% del ancho en pantallas pequeñas */
    }

    #catImage {
        max-width: 100%; /* La imagen ocupa el 100% del ancho en pantallas pequeñas */
    }
}
