body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Mueve los elementos hacia la parte superior */
    height: 100vh;
    margin: 0;
    background-color: #000; /* Fondo negro */
    color: #00f; /* Texto azul */
    padding-top: 20px; /* Espacio superior */
}

#spacer {
    height: 30px; /* Espacio vacío */
}

#catImage {
    max-width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* Mantén la proporción original */
    border-radius: 10px;
    border: 10px solid #4b0082; /* Marco morado alrededor de la imagen */
    padding: 5px;
    margin-top: 20px;
}

button {
    background-color: #4b0082; /* Morado oscuro */
    color: white;
    border: none;
    padding: 15px 0;
    font-size: 18px;
    cursor: pointer;
    border-radius: 0px; /* Sin bordes redondeados */
    margin-top: 20px;
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    text-align: center;
}

button:hover {
    background-color: #6a0dad; /* Morado más oscuro en hover */
}
