body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    color: #00f;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden; /* Evita el desbordamiento */
}

#loader {
    display: none;
    font-size: 2rem;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1000;
}

#catImage {
    max-width: 100vw; /* Ajusta la imagen al ancho de la pantalla */
    max-height: 80vh; /* Usa más espacio en la pantalla */
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    border: 10px solid #4b0082;
    padding: 5px;
    margin-top: 10px;
}

button {
    background-color: #4b0082;
    color: white;
    border: none;
    padding: 15px 0;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    width: 90vw; /* Ajuste al ancho de la pantalla */
    text-align: center;
    max-width: 300px; /* Limitar el tamaño máximo */
    position: absolute;
    bottom: 10px; /* Mantiene el botón visible */
    left: 50%;
    transform: translateX(-50%); /* Centra el botón */
}

button:hover {
    background-color: #6a0dad;
}

#downloadButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #4b0082;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#downloadButton:hover {
    background-color: #6a0dad;
}

@media (max-width: 600px) {
    button {
        width: 95vw;
    }

    #catImage {
        max-width: 95vw;
        max-height: 70vh;
    }
}
